@model Admin.Models.Category
@using Admin.Repository

@{
    ViewBag.Title = "Create Category";
    Layout = "~/Views/Shared/Master.cshtml";
    string previousItemName = ViewBag.PreviousCategoryName;
    bool success = (bool)ViewBag.Success;

}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/CategoryTree.cshtml", (List<Admin.Models.CategoryTree>)ViewBag.CategoryTree)
    </div>

    <div class="col-md-9">
        <form class="form-horizontal" action="/Category/Create" method="post">
            <fieldset>
                <legend>Create New Category</legend>
                <div class="form-group">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.GetMessage(success, previousItemName)
                </div>
                <div class="form-group">
                    <label for="inputParentCategory" class="col-lg-2 control-label">Parent Category</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="inputParentCategory" value=@ViewBag.ParentCategoryName readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @style = "display:inline" })
                        @Html.ValidationMessage("CategoryName", "*", new { @class = "text-danger" })

                    </div>
                </div>



                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                        @Html.HiddenFor(modal => modal.ParentCategoryName)
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $(document).ready(function () {
        var success = parseInt('@ViewBag.Success');
        if (success)
            {
                if (success == 1)
                {
                    $('#modaltext').text('Success Category is created and you can se this newly created category on left side menu under mentioned parent category. you can click on this category to create products');
                    $('#categoryCreateSuccess').modal('show');
                }
                else
                {
                    $('#modaltext').text('Failure There is some problem in creating category. Contact Salman!');
                    $('#categoryCreateSuccess').modal('show');

                }
        }
    });

</script>




















