@model Admin.Models.Product
@using Admin.Repository
@{
    string categoryName = "Back to " + ViewBag.CategoryName;
    ViewBag.Title = "Create Product";
    Layout = "~/Views/Shared/Master.cshtml";
    IEnumerable<SelectListItem> brands = ViewBag.Brands;
    string previousProductName = ViewBag.PreviousProductName;
    bool success = (bool)ViewBag.Success;
}

<h2>Create</h2>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/CategoryTree.cshtml", (List<Admin.Models.CategoryTree>)ViewBag.CategoryTree)
    </div>

    <div class="col-md-9">
        <br />
        <span class='glyphicon glyphicon-circle-arrow-left' style='color: green'></span>
        @Html.ActionLink(categoryName, "Index", new { controller = "Product", categoryId = ViewBag.CategoryId })
        <br /><br />

        <form class="form-horizontal" action="/Product/Create" method="post">
            <fieldset>
                <legend>Create New Product</legend>

                <div class="form-group">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.GetMessage(success, previousProductName)
                </div>
                <div class="form-group">
                    <label for="inputParentCategory" class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="inputParentCategory" value="@ViewBag.ParentCategoryName" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputParentCategory" class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="inputCategory" value="@ViewBag.CategoryName" readonly="readonly">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BrandId, new { @class = "control-label col-md-2" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(model => model.BrandId,brands, new { @class = "form-control", @style = "display:inline" })
                        @Html.ValidationMessage("Brand", "*", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @style = "display:inline" })
                        @Html.ValidationMessage("ProductName", "*", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                @Html.HiddenFor(modal => modal.CategoryId)
            </fieldset>

        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $(document).ready(function () {
        var success = parseInt('@ViewBag.Success');
        if (success) {
            if (success == 1) {
                $('#modaltext').text('Success Category is created and you can se this newly created category on left side menu under mentioned parent category. you can click on this category to create products');
                $('#categoryCreateSuccess').modal('show');
            }
            else {
                $('#modaltext').text('Failure There is some problem in creating category. Contact Salman!');
                $('#categoryCreateSuccess').modal('show');

            }
        }
    });

</script>




















